[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #7446ce;
  --primary-hover: #5e38a8;
  --primary-focus: rgba(115, 70, 206, 0.145);
  --primary-inverse: #FFF;
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
      --primary: #7446ce;
      --primary-hover: #5e38a8;
      --primary-focus: rgba(115, 70, 206, 0.145);
      --primary-inverse: #FFF;
    }
}

.logo{
    padding-top: 40px;
    display: block;
    margin: auto;
}

.version{
    color: #808080;
}

.title{
    color: #7446ce;
}

.button{
    border-radius: 50px;
}